*.pth
!checkpoints/tsm_r50_256h_1x1x16_50e_sthv2_rgb_20220517_best_top1_acc_epoch_58.pth
.jupyter_checkpoints
.DS_Store
*.mp4
!example_videos/*
tmp/
poses/
out/
detectron2_out/

*.ipynb_checkpoints

# data
data/*

datasets/kinetics700_2020/*

*.pyc
*.code-workspace
