checkpoints
work_dirs
.jupyter_checkpoints
.DS_Store
*.mp4
!images/*
!example_videos/*
tmp/
poses/
exp/
out/
detectron2_out/

*.ipynb_checkpoints

# data
data/*

datasets/kinetics700_2020/*

*.pyc
*.code-workspace
